<div class="container, left-align">
<h1>Physician: <i><%= @physician.name %><i></h1>
</div>
<br>
<span class="physician-show-header"><h1><%= @physician.name %> Appointments</h1><h3>Specialty: <%= @physician.specialty %></h3></span>

<%= link_to 'Add Appointment', new_physician_appointment_path(@physician), class: "ui button blue inverted" %>
<br>
<br>
<hr />

<table class="ui celled table">
  <thead>
    <th>Patient Name</th>
    <th>Patient Age</th>
    <th>Patient Date of Birth</th>
    <th>Appointment Date & Time</th>
    <th>Cancel Appointment</th>
  </thead>
  <tbody>
    <% @appointments.each do |appt| %>
      <tr>
        <td><%= link_to appt.patient.full_name, patient_path(appt.patient), class: "ui basic button" %></td>
        <td><%= appt.patient.age%></td>
        <td><%= appt.patient.dob%></td>
        <td><%= appt.time.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= button_to 'Cancel', physician_appointment_path(appt.physician_id, appt.id), method: :delete, class:"ui button red inverted" %></td>
      </tr>
      <% end %>
  </tbody>
</table>



